.registro-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registro-container .formulario-registro form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}
