.registro-container {
  background-color: rgb(18, 26, 26);
}

.registro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 2rem;
}

.formulario-registro h1 {
  color: #ffff;
}

.formulario-registro p {
  color: #ffff;
}

.formulario-registro a {
  font-weight: bold;
  color: #ffff;
}

.formulario-registro .genero-container div {
  color: #ffff;
  padding-left: 0.5rem;
  padding-right: 1.5rem !important;
  display: flex;
}
