.registro-container {
  background-color: #212121;
  width: 100%;
}

.form-container {
  padding: 10px 5rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.form-container .form-dados {
  color: rgb(255, 255, 255);
  width: 70%;
}

/* .col div {
  width: 50%;
} */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.registro-container .form-container .form-dados div,
.registro-container .form-container .form-dados input {
  margin-bottom: 5px !important;
  --bs-gutter-x: 0;
}

.row div {
  flex: 1;
}

.plano {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.plano div {
  border-radius: 10px;
  padding: 15px;
  background-color: #1071a8;
  width: 100%;
  max-width: 300px;
  min-height: 450px;
  margin: 0 auto;
  display: table;
  text-align: center;
}
.plano h2 {
  color: black;
  margin: 0 auto;
  background: none;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.plano h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5px;
  right: 13px;
}
.plano div img {
  display: flex;
  background: none;
  width: 100%;
  max-width: 35px;
  height: 100%;
  max-height: 35px;
}
.plano div p {
  margin: 2% 1px 0% 0%;
  color: #c4c4c4;
}
.btn-bottom {
  position: relative;
  top: 130px;
}
.plano a:hover {
  transition: 0.5s;
}

.plano a:hover {
  transition: 0.5s;
}

.plano a:hover .mensal {
  -webkit-box-shadow: 0px 12px 10px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 12px 10px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 12px 10px 0px rgba(255, 255, 255, 1);
}

.plano a:hover button {
  border: 1px solid #a3d4ff;
  color: white;
}
/* button:hover {
  color: white;
} */

.modal-body {
  padding: 5% 0 !important;
}

a:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.register-subtitle {
  font-size: 16px !important;
  color: #fff;
  margin-bottom: 10px;
  padding: 0 !important;
}

.register-subtitle a {
  font-size: 17px !important;
  padding: 5px !important;
  text-decoration: underline !important;
  color: #ffffff !important;
}
