.home-container {
  background-color: black;
}

.calendar-container {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  background-color: #282732;
}

.home-container h1 {
  align-items: center;
  padding-left: 45%;
  color: #ffff;
}
