.home-container {
  background-color: black;
}

.calendar-container {
  align-items: center;
  justify-content: space-between;
  background-color: #282732;
  width: 60%;
  height: 100%;
}

.calendar-container h1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #ffff;
}
